########################################################################################################################
##                                                      [IDEA]
########################################################################################################################
*.iml
*.ipr
*.iws
/.idea

########################################################################################################################
##                                                      [BUILD]
########################################################################################################################
**/build


########################################################################################################################
##                                                 [GRADLE-WRAPPER]
########################################################################################################################
/.gradle
/gradle
/gradlew
/gradlew.*